repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run black
        language: system
        types: [python]
        args: [--line-length=100]

      - id: ruff
        name: ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
